doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='goldfinger.css',rel='stylesheet')
  body
    h1 GOLDFINGER COUNTER (CSS/LESS IMPLEMENTATION)
    - for (var x = 1; x < 100; x++)
      div