doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='goldfinger.css',rel='stylesheet')
  body
    h1 GOLD FINGER Counter (CSS/LESS Implementation)
    - for (var x = 1; x < 100; x++)
      div